*{
    padding: 0;
    margin: 0;
    font-family: 'Cause', sans-serif;   
}

body{
    color: #3b362f;
}

main {
    margin: 0;
    padding: 0;
}

#header-title{
    padding: 20px 0;
}

.header-container{
    background-image: url('img/eco_banner.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color:black
}

nav{
    background-color: #394648;
    padding: 5px 0 5px 0;;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li{
    list-style: none;
    margin: 0 5px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 80%;
}

.title{
    text-align: center;
    padding: 20px 0;
}

.main-container{
    background-image: url(img/fondo_productos.png);
    background-size: cover;
    background-position: center;
}

.product-container, .review-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 20%;
    margin: 20px 10% 0px 10%;
    padding-bottom: 30px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 5px;
}

.product h3, .product p, .review-card p, .review-card h3{
    text-align: center;
}

.product img{
    width: 50%;
    height: 90%;
    object-fit: cover;
}

.review-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.contact-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
    font-size: 15px;
}

#mapa-container{
    margin-bottom: 0;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 35vw 0 35vw;
}

.label{
    justify-self: end;
    gap: 5px;
}

.textarea{
    padding: 5px;
    border: 1px solid #ccc;
    height: 100px;
}

.input{
    padding: 5px;
    border: 1px solid #ccc;
    width: max(100%, 200px);
}

.input[type="submit"]{
    grid-column: 1 / -1; /* el "/ -1  necesario para  que haya sólo una columna */
    justify-self: center;
    width: auto;
}

.input[type="submit"]:hover{
    background-color: #394648;
    color: #cbac88;
    cursor: pointer;
}

#mapa{
    justify-content: center;
    align-items: center;
    border: 0;
    width: 20vw;
    margin: 5px 0;
}

section#Contacto{
    background-color: #394648;
    color: #cbac88;
}

@media (max-width: 700px) {
    #mapa{
        width: 80%;
    }
    form{
        margin: 0 15vw 0 15vw;
    }

    .product{
        padding: 10px;
    }
}
